
.wrapper {
  border: 1px solid $greyLightMed;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.cell {
  border: 1px solid $greyLightMed;
  flex: 1 1 ((100 / 7) * 1%);
  height: em(130);
  overflow: hidden;
  padding: em(3) em(5);
}

.day {
  @extend .cell;
  border-left-color: transparent;
  border-top-color: transparent;
}

.titles {
  display: flex;

  background-color: $greyLightest;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  & > div {
    @extend .cell;
    border-color: transparent;
    border-bottom-color: $greyLightMed;
    height: auto;
    overflow: hidden;

    &:last-child {
      border-right-color: $greyLightMed;
    }
  }
}
