
.body {
  // content
}

.colorPicker {
  position: absolute;
  transform: translateY(-60%);
  z-index: 2;
}

.cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.weather {
  padding-left: em(10);

  & > img {
    max-height: em(50);
    max-width: em(50);
    vertical-align: middle;
  }
}

.footer {
  font-size: em(14);
  text-align: right;
  padding: em(5, 14);
}
