
/*-------------------
        Page
--------------------*/

$pageOverflowX       : hidden;
$lineHeight          : em(21);

/* This is the single variable that controls them all */
$emSize   : 16px;

/* The size of page text  */
$fontSize : 16px;

@function num($value) {
  @return ( $value / ($value * 0 + 1))
}

@function em($pixels, $context: $emSize) {
  @return (num($pixels) / num($context)) * 1em;
}

@function rem($pixels) {
  @return (num($pixels) / num($fontSize)) * 1rem;
}

@function em-pad($height, $lineHeight: $lineHeight, $context: $emSize) {
  @return (((num($height) / num($context)) - num($lineHeight)) / 2) * 1em;
}
