
.wrapper {
  display: flex;
  flex-direction: column;

  height: em(180);
  width: em(180);
  border: 1px solid $greyLight;
}

.number {
  flex: 0 1 auto;
  text-align: right;
  font-weight: bold;
  padding-bottom: em(5);
}

.events {
  flex: 1 1 auto;
  overflow: hidden;
}

.more {
  flex: 0 1 auto;
  font-size: em(12);
  text-align: center;
  padding-top: em(5);
}

.readOnly {
  & > * {
    opacity: 0.6;
  }
}
