
.wrapper {
  display: flex;
  flex-direction: column;
  outline: none;
}

.number {
  flex: 0 1 auto;
  text-align: right;
  font-weight: bold;
  padding-bottom: em(5);
}

.events {
  flex: 1 1 auto;
  overflow: hidden;
}

.event {
  display: block;
  font-size: em(12);
  margin: 0 0 em(2, 12);
  text-align: left;
  width: 100%;
}

.more {
  flex: 0 1 auto;
  font-size: em(12);
  padding-top: em(5, 12);
  text-align: center;
}

.readOnly {
  & > .number {
    color: $grey;
  }
}

.highlight {
  background-color: $blueLightest;
}

.active {
  & > span {
    display: inline-block;
    background-color: $tealLight;
    color: $white;
    padding: em(2) em(7);
    margin: em(-2) em(-2) 0 0;
    border-radius: em(6);
  }
}
