
.wrapper {
  display: flex;
  flex-direction: column;
}

.number {
  flex: 0 1 auto;
  text-align: right;
  font-weight: bold;
  padding-bottom: em(5);
}

.events {
  flex: 1 1 auto;
  overflow: hidden;
}

.more {
  flex: 0 1 auto;
  font-size: em(12);
  text-align: center;
  padding-top: em(5);
}

.readOnly {
  & > * {
    opacity: 0.6;
  }
}

.highlight {
  background-color: $blueLightest;
}

.active {
  & > span {
    display: inline-block;
    background-color: $tealLight;
    color: $white;
    padding: em(3) em(8);
    margin: em(-3) 0;
    border-radius: em(6);
  }
}
