{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "globals": {
    "ajaxIntercept": true,
    "createTestComponent": true,
    "createTestComponentConnected": true,
    "expectBecameFalse": true,
    "expectBecameTrue": true,
    "expectChange": true,
    "expectKeys": true,
    "expectNoChange": true,
    "FEATURES_FLAGS": true,
    "SYSTEM": true
  },
  "parser": "babel-eslint",
  "plugins": ["react-hooks"],
  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "comma-dangle": ["error", "always-multiline"],
    "import/no-extraneous-dependencies": [ "error", { "packageDir": "./" } ],
    "import/prefer-default-export": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react/destructuring-assignment": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "max-classes-per-file": ["error", 2],
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error",
    "semi": ["error", "never"],
    "object-curly-newline": [ "error", {
      "multiline": true,
      "minProperties": 7,
      "consistent": true
    }],
    "operator-linebreak": ["error", "before"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/no-deprecated": "error",
    "react/sort-comp": ["error", {
      "order": [
        "static-methods",
        "instance-variables",
        "lifecycle",
        "everything-else",
        "sub-rendering",
        "render"
      ],
      "groups": { "sub-rendering": [ "/^(shouldRender|render).+$/" ] }
    }],
    "react/state-in-constructor": "off"
  },
  "settings": {
    "import/resolver": { "node": { "paths": ["src", "src/packages"] } },
    "react": {
      "pragma": "React",
      "version": "16.13"
    }
  }
}
