
@font-face {
  font-family: appleLogo;
  src: local("Lucida Grande");
  unicode-range: U+f8ff
}

html {
  line-height: $lineHeight;
}

body {
  transition: all 0.2s ease;

  -webkit-font-smoothing: antialiased;
  background-color: $white;
  color: $textColor;
  font-size: inherit;
  font-variant-ligatures: common-ligatures;
  line-height: inherit;
  padding-top: em(40);

  & > #GLOBAL_app {
    height: auto;
    margin: 0 auto;
    max-width: em(1300);
    min-height: 100%;
    overflow-x: hidden;
    padding: em(20) em(10);

    & > .GLOBAL_Site {
      height: auto;
      min-height: 100%;
    }
  }
}

h1 {
  font-size: em(26)
}

h2 {
  font-size: em(23)
}

h3 {
  font-size: em(20)
}

h4 {
  font-size: em(18)
}

h5 {
  font-size: em(17)
}

h6 {
  font-size: em(16)
}

h1, h2 {
  color: $greyDarkestBlue;
}

h3, h4 {
  color: $greyDarkBlue;
}

h1, h2, h3, h4, h5, h6 {
  margin: em(20, 26) 0 em(10, 26) !important;
}
